@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "admin-lte/dist/css/adminlte.min.css";

/*
|--------------------------------------------------------------------------
| EnterpriseHub Custom CSS
|--------------------------------------------------------------------------
*/

body {
    background: #f4f6f9;
}

.sidebar {
    min-height: 100vh;
}

.content-wrapper {
    min-height: calc(100vh - 56px);
}
